*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: rgb(255, 255, 255);
}
.About-container {
    width: 80%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    gap: 40px;
    margin: 50px auto;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}
.About-text {
    flex: 1;

}
.About-text h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.About-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.About-text p {
    font-size: 15px;
    font-weight: 300;
    color: black;
}
.button {
     
}