*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: rgb(255, 255, 255);
}
.About-container {
    width: 80%;
    max-width: 1200px;
    padding: 40px;
    min-height: 450PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
    gap: 40px;
    margin: 60px auto;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}
.About-text {
    flex: 1;
    max-width: 50%;
}
.about-image img {
    width: 300px;
    border-radius: 10px;
 }
.About-text h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    font-weight: 700;
}
.About-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.About-text p {
    font-size: 15px;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
}
.about-btn {
    padding: 13px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.about-btn:hover {
    background: #1104cf;
}
 .socail-icons a {
    font-size: 22px;
    color: rgb(7, 11, 216);
    margin-right: 15px;
    cursor: pointer;
 }
 @media (max-width: 768px) {
    .About-container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .About-text {
        max-width: 100%;
    }

    .about-image img {
        width: 280px;
    }
    
}
  @media (max-width: 468px) {
    .About-container {
        width: 95%;
        padding: 20px;
    }

    .About-text h1 {
        font-size: 25px;
    }

    .About-text p {
        font-size: 14px;
    }

    .about-image img {
        width: 240px;
    }
}