*{
    margin: 0;
    padding: 0;
    
    font-family: Arial, sans-serif;
}
body {
    background: rgb(255, 255, 255);
}
.About-container {
     max-width: 800px;
     margin: 90px auto 40px;
     padding: 40px;
     background: #ffffff;
     border-radius: 18px;
     box-shadow: 0 10px 25px rgb(5, 30, 77);
     width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeUp 1s ease forwards;
opacity: 0;
    gap: 40px;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.About-text {
    flex: 1;
}
.about-image img {
    width: 300px;
    border-radius: 10px;
 }
.About-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: #007bff;
    margin-bottom: 30px;
}
.About-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}
.About-text p {
    font-size: 15px;
    font-weight: 300;
    color: black;
    margin: 20px;
}
.about-btn {
    padding: 13px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.about-btn:hover {
    background: #03011d;
}
 .socail-icons a {
    font-size: 22px;
    color: #007bff;
    margin-right: 15px;
    cursor: pointer;
 }
 @media (max-width: 768px) {
    .About-container {
        flex-direction: column;
        text-align: center;
    }

    .About-text {
        max-width: 100%;
    }

    .about-image img {
        width: 280px;
    }
    
}
  @media (max-width: 468px) {
    .About-container {
        width: 95%;
    }

    .About-text h1 {
        font-size: 25px;
    }

    .About-text p {
        font-size: 14px;
    }

    .about-image img {
        width: 240px;
    }
}