*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 6%;
}

.hero-text h1 {
    font-size: 48px;
    color: #222;
}

.hero-text p {
    margin: 15px 0;
    font-size: 18px;
    color: #555;
}

.btn {
    display: inline-block;
    background: #007bff;
    padding: 12px 25px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.hero-img img {
    width: 450px;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        width: 100%;
        margin-top: 20px;
    }
}