*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: Arial,  sans-serif;
}
body {
    background-color: #f6f6f6;
}

.contact-container{
    width: 90%;
    max-width: 1200px;
margin: 50px auto;
display: flex;
background: rgb(255, 255, 255);
padding: 40px;
display: flex;
border-radius: 10px;
gap: 40px;
box-shadow: 0 10px 25px 10px rgb(0, 0, 0) ;
 }
 /*left-image*/
 .contact-img{
    width: 90%;
    height: 420px;
 }
 /*middle-form*/
 .contact-form {
    flex: 1;
    margin-right: 30px;
 }
 .contact-form h2 {
    white-space: nowrap;
    font-size: 50px;
    margin-bottom: 60px;
 }

 .contact-form input,
 .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
    font-size: 10px;
 }
 .contact-form textarea {
    font-size: 10px;
    resize: none;
 }
 .contact-form button {
    padding: 12px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
 }
 .contact-form button:hover {
    background: #0c32b1;
 }
 /*Right info*/
.contact-info {
    width: 200px;
}

.contact-info h3 {
    margin-bottom: 5px;
    font-size: 18px;
    margin-top: 40px;
}

.contact-info p {
    margin-bottom: 20px;
    color: #0c32b1;
}

.socail-icons a {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
}
 /* TABLET (max width: 768px) */
@media (max-width: 768px) {
    .contact-container {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
 .contact-form h2 {
    font-size: 30px;
 }
 .contact-info h3 {
    font-size: 20px;
 }
 .contact-info p {
    font-size: 15px;
 }
 .contact-img {
    width: 100%;
    margin-top: 10px;
 }
 .socail-icons a {
justify-content: center;
font-size: 19px;
 }
}
/*phone  468px*/
@media (max-width:468px) {
    .contact-container{
        padding: 20px;
    }
    .contact-form h2 {
        font-size: 25px;
        line-height: 1.2;
    }
    .contact-info h3 {
        font-size: 18px;
    }
    .contact-info p {
        font-size: 12px;
    }
    .contact-img {
        width: 100%;
    }
    .socail-icons {
        font-size: 10px;
    }
}
