 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between; 
        align-items: center;
         gap: 30px;
        padding:0 20px ;
        background: transparent;
    
    }
    .logo {
        color: #1B305B;
        font-size: 30px;
        font-weight: 800;
    }
.navlist{
    list-style: none;
    display: flex;
    column-gap: 1rem;
}
.navlist a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight:500;
    transition: 0.3s ease;
    cursor: pointer;
}
.navlist a:hover {
    color: darkblue;
    transform: translateX(-2px);
}
 
body {
    background-color: #007bff;
    color: #fff;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 60px;
    background: #007bff;
}

.hero-text {
    max-width: 480px;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 15px;
    margin-bottom: 25px;
}

 .btn {
    display: inline-block;
    padding: 12px 25px;
    background: #1B305B;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease;
 }
 .btn:hover {
    background: #000000;
 }

/* CIRCLE DESIGN */
.hero-circle {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: radial-gradient(circle, #0044cc, #001A7A);
    border: 10px solid rgba(255, 234, 234, 0);
}