*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
.hero{
    display: flex;
    margin: 90px auto 40px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: white;
    width: 90%;
    max-width: 1200px;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}
.hero .left h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero .left span {
    
    color: #3f6df6;
}
.btn  {
    padding: 10px 30px;
    border: none;
    gap: 10px;
    background: #3f6df6;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size:18px;
    border-radius: 8px;
    cursor: pointer;
 transition: 0.3s;
}
.btn {
    margin-top: 30px;
}
.btn:hover {
background-color: #03011d;
}
.right .shape {
    width: 330px;
    height: 380px;
    background: #3f6df6;
    border-radius: 80% 60% 80% 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img {
width: 200px;
height: auto;
 border-radius: 50%;
 /*tablet view-768px*/
}
@media (max-width:768px) {
    .hero {
flex-direction: column;
text-align: center;
padding: 40px;
gap: 20px;
}
/*heading size*/
 .hero .left h1 {
font-size: 35px;
 }
  
 /*shape size*/
 .right .shape {
width: 280px;
height: 260px;
 }
 /*image size*/
 .right img {
    width: 150px;
    height: 250px;
    border-radius: 60px;
 }
 }
 /*phone view-480px*/
 @media (max-width: 480px) {
    .hero {
        padding: 10px;
    }
    .hero .left h1  {
        font-size:28px;
    }
    .right .shape{
        width: 180px;
        height: 200px;
    }
    .right img {
    width: 120px;
    height: 200px;
    border-radius: 60px;
    }
 }

 
     
