/* BASIC STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero {
    background: #007bff;
    color: white;
    padding: 80px 6%;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

/* SERVICES SECTION */
.services{
    padding: 70px 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
    gap: 25px;
}

.service-box {
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.service-box:hover {
    transform: translateY(-8px);
}

.service-box h3 {
    margin-bottom: 10px;
    color: #007bff;
}